# Port d'écoute du serveur (par défaut 3000 pour le développement)
# Sur les hébergeurs comme Render ou Heroku, cette variable est souvent remplie automatiquement.
PORT=3000

# Environnement (development ou production)
NODE_ENV=production
# Clé secrète pour la génération des tokens JWT (Authentification)
# REMPLACE CETTE VALEUR PAR UNE CLÉ UNIQUE !
JWT_SECRET=ton_secret_ultra_securise_grand_line_2024

# Code PIN pour accéder aux fonctions Administrateur dans le jeu
# Doit correspondre au code tapé lors de l'inscription ou dans l'onglet Admin
ADMIN_CODE=7777
# Multiplicateur de gains (Optionnel pour de futurs équilibrages)
XP_GAIN_MULTIPLIER=1
BOUNTY_GAIN_MULTIPLIER=1

# URL de connexion MongoDB (Si tu passes en mode persistant plus tard)
# MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/onepiece
